<!-- <h1 class="container"> Details Works !</h1> -->

<div style="width: 500px" class="edit-form">
<div *ngIf="currentBook" class="edit-form">

<h4>Books</h4>


<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="currentBook.title" name="title">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="currentBook.description" name="description">
    </div>
</form>

<a routerLink="books"><button type="button" class="btn btn-danger me-5 mt-2 " (click)="updateBook()">Update</button></a>

<button type="button" class="btn btn-warning mt-2" (click)="deleteBook()">Delete</button>

</div>

</div>